# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.python-version

# Caches and Tools
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# OS
.DS_Store
.directory

# Data
.arctic_db/
.arctic_test_db/

# Local environment variables
.env
.env.local
