
# Caches and Tools
# Data
# Environments
# Local environment variables
# OS
# Python
*.pyc
*.pyd
*.pyo
*.so
.DS_Store
.arctic*/
.coverage
.directory
.env
.env.local
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.python-version
.ruff_cache/
.venv/
ENV/
__pycache__/
env/
requirements.snapshot.txt
venv/
