[tool.ruff]
line-length = 79
target-version = "py310"

[tool.ruff.lint]
# Enable Pyflakes (E) and pycodestyle (F) codes by default.
select = ["E", "F", "I", "N", "PL"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.isort]
known-first-party = ["src"]

[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
check_untyped_defs = true
ignore_missing_imports = true
